# Split-Explode Dataframe 


- option 1: https://stackoverflow.com/questions/12680754/split-explode-pandas-dataframe-string-entry-to-separate-rows/40449726
- option 2: https://stackoverflow.com/questions/12680754/split-explode-pandas-dataframe-string-entry-to-separate-rows

In [29]:
print('problem statement: convert the following dataframe  \n')

print(df)
print('')
print('     |') 
print('     |')
print('     ↓')
print('')
print(df_split)

problem statement: convert the following dataframe

    var1  var2
0  a,b,c     1
1  d,e,f     2

     |
     |
     ↓

  var1  var2
0    a     1
1    b     1
2    c     1
3    d     2
4    e     2
5    f     2

In [4]:
import pandas as pd 
import numpy as np

# method 1

In [16]:
df = pd.DataFrame([{'var1': 'a,b,c', 'var2': 1},
               {'var1': 'd,e,f', 'var2': 2}])
df

    var1  var2
0  a,b,c     1
1  d,e,f     2

In [17]:
# column that you want to split 
lst_col = 'var1' 

x = df.assign(**{lst_col:df[lst_col].str.split(',')})
x

        var1  var2
0  [a, b, c]     1
1  [d, e, f]     2

In [19]:
df_split = pd.DataFrame({
    col:np.repeat(x[col].values, x[lst_col].str.len())
    for col in x.columns.difference([lst_col])
    }).assign(**{lst_col:np.concatenate(x[lst_col].values)})[x.columns.tolist()]

df_split

  var1  var2
0    a     1
1    b     1
2    c     1
3    d     2
4    e     2
5    f     2

# method 2

In [20]:
# method 2 
df = pd.DataFrame([{'var1': 'a,b,c', 'var2': 1},
               {'var1': 'd,e,f', 'var2': 2}])

pd.concat([pd.Series(row['var2'], row['var1'].split(','))              
                    for _, row in df.iterrows()]).reset_index()

  index  0
0     a  1
1     b  1
2     c  1
3     d  2
4     e  2
5     f  2