Task: Get the last date of the month for specified years.

In [1]:
# import packages 
from calendar import monthrange
import pandas as pd

monthrange(2012, 2)

(2, 29)

In [2]:
help(monthrange)

Help on function monthrange in module calendar:

monthrange(year, month)
    Return weekday (0-6 ~ Mon-Sun) and number of days (28-31) for
    year, month.

In [19]:
# init list 
last_days = []

# loop through years 
for year in range(2015,2020): 
    # loop through months 
    for month in range(1,13): 
        # get the last date of the month
        date = monthrange(year, month)[1]
        # append to list 
        last_days.append('%d-%d-%d' % (year,month,date))

last_days[:10]

['2015-1-31',
 '2015-2-28',
 '2015-3-31',
 '2015-4-30',
 '2015-5-31',
 '2015-6-30',
 '2015-7-31',
 '2015-8-31',
 '2015-9-30',
 '2015-10-31']

In [21]:
# convert into data frame which you can feed into Facebook's Prophet model. 
last_days = pd.DataFrame({'ds': last_days,'holiday':'month'})
last_days.head()

          ds holiday
0  2015-1-31   month
1  2015-2-28   month
2  2015-3-31   month
3  2015-4-30   month
4  2015-5-31   month

In [30]:
# get the list of 28th or 29th of each month depending on february

# init list 
#last_days = []

# from feb to jan 
months = list(range(2,13))+[1] 

# loop through years 
for year in range(2015,2020): 
    # loop through months 
    feb_date = monthrange(year, 2)[1]
    for month in months: 
        # append to list 
        last_days.append('%d-%d-%d' % (year,month,feb_date))

last_days[:10]

['2015-2-28',
 '2015-3-28',
 '2015-4-28',
 '2015-5-28',
 '2015-6-28',
 '2015-7-28',
 '2015-8-28',
 '2015-9-28',
 '2015-10-28',
 '2015-11-28']

In [27]:
# convert into data frame which you can feed into Facebook's Prophet model. 
last_days = pd.DataFrame({'ds': last_days,'holiday':'february_BA'})
last_days.head()

          ds      holiday
0  2015-2-28  february_BA
1  2015-3-28  february_BA
2  2015-4-28  february_BA
3  2015-5-28  february_BA
4  2015-6-28  february_BA

In [20]:
list(range(2,13))+[1]

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 1]

In [29]:
# get february only 

# init list 
fed_last_days = []

# from feb to jan 
#months = list(range(2,13))+[1] 

# loop through years 
for year in range(2015,2020): 
    # get the last date of the month        
    # set it to the last date of 
    feb_date = monthrange(year, 2)[1]
    # append to list 
    fed_last_days.append('%d-%d-%d' % (year,2,feb_date))

fed_last_days

['2015-2-28', '2016-2-29', '2017-2-28', '2018-2-28', '2019-2-28']

In [ ]:
# convert into data frame which you can feed into Facebook's Prophet model. 
last_days = pd.DataFrame({'ds': last_days,'holiday':'february_BA'})
last_days.head()